   /*Victor Stahlman cis 270
purpose: create a web page that shows your knowledge of client side web coding.*/
   /* This is for the style/look of the whole site*/
   
   header,
   nav,
   section,
   article,
   aside,
   footer {
       display: block;
   }
   /* Sets the whole pages background color*/
   
   .mainBody {
       background-color: #133131;
   }

   .mainBodyM {
       background-color: #5d7697;
   }
   

   .center {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   
   .right {
       display: block;
       margin-left: auto;
       margin-right: 0;
       width: 50%;
       float: right;
   }
   
   .left {
       display: block;
       margin-left: 0;
       margin-right: auto;
       width: 50%;
       float: left;
   }
   /* Sets the background to be an image/ colors if it fails, adds padding, and adds an text align left*/
   
   .pagehead {
       background-color: #133131;
       color: white;
       text-align: left;
       padding: 10px;
       background-image: url("../images/Span.jpg");
       background-size: cover;
   }
   /* Sets the color of the text in the header with the id titlehead, and
	sets a border, background color, and padding around it.*/
   
   #titlehead {
       color: aliceblue;
       text-decoration: none;
       background-color: #133131;
       width: 250px;
       border: grey 5px solid;
       padding: 5px;
       font-family:cursive;
   }
   /*this set of commands sets the sizes of various pictures used in the website*/

   .pageheadM {
    background-color: #602477;
    color: white;
    text-align: left;
    padding: 10px;
    background-image: url("../images/Span.jpg");
    background-size: cover;
    }
/* Sets the color of the text in the header with the id titlehead, and
 sets a border, background color, and padding around it.*/

    #titleheadM {
    color: aliceblue;
    text-decoration: none;
    background-color: #3b79a9;
    width: 250px;
    border: rgb(35, 33, 70) 5px solid;
    padding: 5px;
    font-family:cursive;
    }
/*this set of commands sets the sizes of various pictures used in the website*/
   
   .imgsizing {
       width: 100%;
   }
   
   #imghome {
       width: 40%
   }
   
   #imglink {
       width: 30%
   }
   
   .imgsize1 {
       width: 95%;
   }
   
   .imgsize2 {
       width: 60%;
   }
   
   .imgsize3 {
       width: 40%;
   }
   
   .infoCard {
       padding: 10px;
       border-style: solid;
       border-color: #eeeeee;
   }

   /* Color Sets */

   .red{background-color:firebrick;}
   .green{background-color:rgb(34, 178, 99);}
   .blue{background-color:rgb(87, 84, 208);}
   .yellow{background-color:rgb(197, 182, 85);}
   .darkred{background-color:darkmagenta;}
   .lightblue{background-color:rgb(12, 147, 192);}
   

   
   /* Sets the background color, and the sizing of the border/padding. */
   
   .navhead {
       background-color: #777777;
       padding: 5px 5px 10px 5px;
       border: solid white 2px;
   }
   
   nav {
       background-color: #112222;
   }
   /* Changes the font, and color of links that are in the nav*/
   
   .navhead a {
       font-family: "Trebuchet MS", Helvetica, sans-serif;
       color: white;
       text-decoration: none;
   }
   
   .navhead a:hover {
       background-color: #133131
   }
   

   .navheadM {
    background-color: #877f7f;
    padding: 5px 5px 10px 5px;
    border: solid white 2px;
    }

    .navM {
    background-color: #5366a5;
    }
/* Changes the font, and color of links that are in the nav*/

    .navheadM a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    }


   .login {
       text-align: right;
   }
   /* Floats the section left, and sets the size and color of the background of it.*/
   
   section {
       padding: 5px;
       margin: 5px;
       width: 70%;
       margin: 6px;
       background-color: #eeeeee;
       padding: 5px;
   }
   
   .mainSection {
       padding: 5px;
       margin: 5px;
       background-color: #eeeeee;
   }
   /* This Floats the aside right for the flow of the page, and changes the colors,
spacing/sizing of the element, and fonts*/
   
   aside {
       width: 20%;
       border: 5px #444444 solid;
       background-color: #777777;
       color: ghostwhite;
       padding: 5px;
       margin: 10px;
       font-family: sans-serif;
   }
   /*This makes the Article float left for the page's use of float overall to work. */
   
   article {
       float: left;
       padding: 5px;
   }
   
   span h2 {
       font-family: 'Courier New', Courier, monospace
   }

   span{ padding: 4px;}
   
   .art {
       background-color: #c0c0c0;
       border: grey 5px solid;
       padding: 5px;
       font-family: sans-serif;
       left: auto;
   }

   .art a{color:darkcyan;}

   aside a{color:#133131;}
   /* In the footer I had the float cleared, set a background color,
and sized the margin etc., and changed the font color */
   
   footer {
       clear: both;
       background-color: #112222;
       border: solid white 2px;
       padding: 5px;
       margin: 5px;
       color: white;
       text-align: center;
   }

   #pagebottomM footer {
    clear: both;
    background-color: #143572;
    border: solid white 2px;
    padding: 5px;
    margin: 5px;
    color: white;
    text-align: center;
    }
   
   footer a {
       color: white;
       text-decoration: none;
   }
   /*these all are how the dropdown works. May be botched compared to usual, but I think it works*/
   
   .dropdown {
       position: absolute;
       display: inline-block;
   }
   
   .dropdown-content {
       display: none;
       position: relative;
       background-color: #f9f9f9;
       padding: 6px;
       z-index: 1;
       border: #444444 solid 3px;
   }
   
   .dropdown:hover .dropdown-content {
       display: block;
   }
   
   .dropdown-content a:hover {
       background-color: #112222
   }
   
   .dropdown-content a {
       padding: 5px;
       background-color: #c0c0c0;
       display: block;
   }
   /*these are for the table on the support.html page*/
   
   table,
   th,
   td {
       border: solid #112222 2px;
       padding: 2px;
       margin: 1px;
   }
   /*this is a little drop down thing that i have for my jquery*/
   
   #panel,
   #flip {
       padding: 5px;
       text-align: center;
       background-color: #5d9768;
       border: solid 1px #c3c3c3;
   }
   
   #panel {
       padding: 50px;
       display: none;
   }

   .Vic{
    background-color: #1e613c;
    border: solid white 2px;
    
    color: white;
    text-align: center;

   }
   
   .Maddie{
    background-color: #134ab1;
    border: solid white 2px;
    color: white;
    text-align: center;

   }