<!--Victor Stahlman
    Personal website 
    Portfolio project
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VCStahlman-About Me</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/display.js"></script>
    <!--links the js file-->
    <link rel="shortcut icon" href="../images/v.ico" type="image/v.ico">
    <!--sets the favicon to a little v -->

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body class="mainBody">

    <div id="headerid"></div>

    <div class="row">
        <section class="fluid container mainSection">
            <div class="fluid container">
                <article>
                    <span>
                <h2>Who am I</h2>
                <h5> I am Victor Stahlman, of Sligo, PA. I am an graduate at Clarion University of Pennsylvania, and I have
                 a bachelors in computer science and a minor in anthropology.</h5>
                <p> I have been part of many things over the years. Robotics, Shakespeare Club, marching band,
                    and Kappa Kappa Psi, just to name a few. All of which have given me a broad range of experiences. </p>
                <p> I am an avid traveler, fan of the arts, and love video game. I am one that loves to share photos from my
                    travels, and often share and think about them years after they happen. . </p>
                <p> Some of my "hobbies" as of now are listening to music while working, working on projects like this, and
                    playing video games when I have the time to. In many of these communities around my gaming side, steam, discord, etc. I
                    have the user name of Yowie17.</p>
                </span>
                </article>
            </section>
        </div>
    <div id="footerid"></div>
</body>
</html>