<!--Victor Stahlman
    Personal website 
    Portfolio project
    March 21
    -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VCStahlman-Contact</title>
    <meta name="description" content="A simple file to start an HTML5 page">
    <meta name="author" content="Victor Stahlman">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/display.js"></script>
    <!--links the js file-->
    <link rel="shortcut icon" href="../images/vm_inc.ico" type="image/vm_inc.ico">
    <!--sets the favicon to a little v -->

    <link rel="stylesheet" href="../css/style.css?v=1.0">

    <!--these are some cdn's for bootstrap, jQuery, etc-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body class="mainBody">

    <div id="headerid"></div>

    <section class="fluid container">
        <div class="fluid container">
            <!--makes a reactive container with photo round and a welcome at the top then further down is the photo of the day area-->

            <div class="row">
                

                <article class="art col-12 col-sm-12 col-md-7">
                    <span>
                        
                    
                        <h4>My Contact Info </h4>
        <p><a href="https://www.facebook.com/victor.stahlman" target="_blank"> My Facebook page.</a>
            I am relatively active on facebook due to being in so many groups that use it as a main way of sharing info.
        </p>
        <p><a href="https://www.instagram.com/vcstahlman/"target="_blank"> Instagram page. </a>
            I use instagram to share travel photos and projects I am working on. </p>
        
        <p><a href="https://twitter.com/vcstahlman"target="_blank"> My Twitter page. </a>
            I use twitter to keep connected with my modding community, and to post photos from any trips I have had. I am starting to post projects in it as well.</p>
        

        <p><a href="https://www.linkedin.com/in/victor-stahlman-7253891b7"target="_blank"> Linkedin page. </a>
            This is my Linkedin profile. It shows much of the same stuff that we have here on the site. If you are interested feel free to connect. Connections are
            important to forge in an ever increasing online world.
        </p>

        <p><a href="https://my.indeed.com/p/victors-lnff418"target="_blank">Indeed Resume</a> Here is a link to my indeed resume for you to download.</p>
        <p><a href="https://github.com/vcstahlman"target="_blank">Github</a> Here is a link to my Github with some of my projects on it. Feel free to check it out.</p>

        
        
   
        <p> My emails are <a href="mailto:vicstahlman@gmail.com" class = no >vicstahlman@gmail.com</a> 
            and <a href="mailto:v.c.stahlman@eagle.clarion.edu" class = no >v.c.stahlman@clarion.edu</a> </p>
        <p>Address: 168 Stahlman Rd, Sligo PA, 16255 </p>
        <p> On Steam, Discord, Minecraft.... Yowie17. </p>
                  
                    
                </span>
                    

                </article>

            <aside class="col-12 col-sm-11 col-md-4">
            <h2>Need any work done.?</h2>
            <p>Please contact me over my email at  
                <a href="mailto:vicstahlman@gmail.com" class = no >vicstahlman@gmail.com</a>
                if you have any ideas for projects you want me to do. I am skilled with basic websites, 
                form applications, console applications, and logic programs. <br>
                If there is something that you think I could do I am willing to work with you to see at least what
                some of your options are.</p>
            </aside>



            </div>
            


        </div>
        <br>
        <h3> Here my resume for you view/download.</h3>
        <embed src="../images/VCStahlman Resume.pdf" width= "100%" height = "1000px" >


    </section>
    

    <div id="footerid"></div>
</body>

</html>

</html>