<!--Victor Stahlman
    Personal website 
    Portfolio project
    March 21
    -->

    <!doctype html>
    <html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Stahlman Couple</title>
        <meta name="description" content="A simple file to start an HTML5 page">
        <meta name="author" content="Victor Stahlman">
    
        <!-- Mobile-friendly viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../js/display.js"></script>
        <!--links the js file-->
        <link rel="shortcut icon" href="../images/v.ico" type="image/v.ico">
        <!--sets the favicon to a little v -->
    
        <link rel="stylesheet" href="../css/style.css?v=1.0">
    
        <!--these are some cdn's for bootstrap, jQuery, etc-->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    
    
    <!--Start of the body -->
    
    <body class="mainBody">
    
        
    
        <Section class="fluid container centered">
            <h1>Welcome to our home page!</h1>
            <p>Click on the respective link to go see our pages.!!
            </p>
            <aside class="left Vic" style = "height: 175px; ;" >
                <a href= "homeV.html" style = "color:white; font-size: 50px">Vic's Site</a> 
                <p>This site holds a bunch of projects I have done in the past. </p>
                <p>Come and check them out.!!</p>

            </aside>

            <aside class="right Maddie" style = "height: 175px;  ">
                <a href= "homeM.html" style = "color:white ;font-size: 50px;">Maddie's Site</a>
                <p>This site hold several lesson packs and units that I have made. </p>
                <p></p>
            </aside>
            <!-- Need to add some sample images in here for each site -->
        </Section>

    
        
    </body>
    
    </html>