<!--Victor Stahlman
    Girlfriends Website
    Portfolio project
    March 21
    -->

    <!doctype html>
    <html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>MMWilliams-Lessons</title>
        <meta name="description" content="A simple file to start an HTML5 page">
        <meta name="author" content="Victor Stahlman">
    
        <!-- Mobile-friendly viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../js/display.js"></script>
        
        <script type="text/javascript" src="../js/lessons.js"></script>
        <!--links the js file-->
        <link rel="shortcut icon" href="../images/vm_inc.ico" type="image/vm_inc.ico">
        <!--sets the favicon to a little v -->
    
        <link rel="stylesheet" href="../css/style.css?v=1.0">

        
    
        <!--these are some cdn's for bootstrap, jQuery, etc-->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    
    
    <!--Start of the body -->
    
    <body class="mainBodyM">
    
        <div id="headeridM"></div>
    
        <section class="fluid container centered">

            <!--makes a reactive container with photo round and a welcome at the top then further down is the photo of the day area-->
            <p>This page has samples of some of the previous lessons I have worked on as well as units and worksheets I have made.
            </p>
           
            <div id ="projectDiv">
                
            </div>
    
        </section>
    
        <div id="footeridM">
        </div>
    </body>
    
    </html>